# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Java / Maven
target/
build/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Logs / env
*.log
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
